.Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ContactLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-header,
.contact-email,
.resume {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  text-decoration: none;
  color: transparent;
  transition: text-shadow 0.5s linear;
}

.contact-header,
.contact-email {
  cursor: default;
  text-shadow: 0 0 2.5px white;
}

.resume:hover,
.contact-header:hover,
.contact-email:hover {
  text-shadow: 0 0 0.5px lightskyblue;
}

.link-image {
  filter: blur(3px);
  transition: filter 0.5s linear;
}
.ContactLink:hover > .link-image {
  filter: blur(0.5px);
}

.contact-text {
  text-decoration: none;
  color: transparent;
  text-shadow: 0 0 3px white;
  transition: text-shadow 0.5s linear;
  margin: 2px;
  visibility: hidden;
}

.ContactLink:hover > .contact-text {
  text-shadow: 0 0 0.5px lightskyblue;
  visibility: visible;
}

.link-image,
.contact-text,
.contact-header,
.contact-email,
.resume {
  animation: starfall 2s linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.contact-header,
.contact-email {
  animation-delay: 0.75s;
}

.link-image,
.contact-text {
  animation-delay: 1s;
}
.resume {
  animation-delay: 1.25s;
  text-shadow: 0 0 3.5px white;
}

.contact-header {
  font-size: 2em;
}
.contact-email,
.resume {
  font-size: 1.25em;
}

@keyframes starfall {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
