:root {
  --Portfolio-transition: 0.75s;
  --Portfolio-blur: 0.25px;
}

/* Portfolio Card and container styling */
.Portfolio {
}

.PortfolioCard {
  /* background-color: red; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5%;
  transition: opacity var(--Portfolio-transition) linear;
  transform: rotate(45deg);
  opacity: 0.7;
  overflow: hidden;
}

.PortfolioCard > figcaption {
  transform: rotate(-45deg);
  opacity: 1;
}

.PortfolioCard:hover {
  opacity: 1;
}

/* figure.PortfolioCard::before {
  position: absolute;
  content: '';
  background-color: transparent;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.PortfolioCard:hover::before {
  border: 2px white solid;
  animation: ripple 3s ease-out both;
  animation-iteration-count: 1;
} */

.portfolio-bg {
  position: absolute;
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  opacity: 0.2;
  transform: rotate(-45deg);
}

.portfolio-title {
  text-shadow: -1px 0 var(--Portfolio-blur) black,
    0 1px var(--Portfolio-blur) black, 1px 0 var(--Portfolio-blur) black,
    0 -1px var(--Portfolio-blur) black;
  font-size: 2em;
}
/* Portfolio Item Styling */

.PortfolioItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  box-shadow: 0 0 25px white;
  width: 50%;
  height: 50%;
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 10%;
}

.portfolio-github {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  right: 0;
}

.portfolio-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0;
}

.portfolio-link > a,
.portfolio-title {
  text-decoration: none;
  color: skyblue;
}

.portfolio-link > a {
  text-shadow: 0 0 var(--Portfolio-blur) skyblue;
  font-size: 4em;
}

.portfolio-description {
  width: 80%;
  color: white;
  text-shadow: -1px 0 var(--Portfolio-blur) black,
    0 1px var(--Portfolio-blur) black, 1px 0 var(--Portfolio-blur) black,
    0 -1px var(--Portfolio-blur) black;
}
