.SkyOfStars {
  background: url('./static/background.png') no-repeat center center fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  background: black;
  margin: 0px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.row-container {
  display: flex;
  flex-direction: row;
}
.column-container {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.border-text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.link-text {
  transition: color 0.25s linear;
  margin: 2px;
}

.no-underline {
  text-decoration: none;
}

.left-margin {
  margin-left: 5px;
}

.right-margin {
  margin-right: 5px;
}

.no-padding {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@keyframes starfall {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
