.SkyOfStars {
  background: url('./static/background.png') no-repeat center center fixed;
  width: 100%;
  height: 100vh;
}
body {
  background: black;
  margin: 0px;
}

.row-container {
  display: flex;
  flex-direction: row;
}
.column-container {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.border-text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.link-text {
  transition: color 0.25s linear;
  margin: 2px;
}

.no-underline {
  text-decoration: none;
}

.left-margin {
  margin-left: 5px;
}

.right-margin {
  margin-right: 5px;
}

/* .m-r-l {
  margin-right: 100px;
} */

.no-padding {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
